@font-face {
    font-family: SegoeUI; /* Имя шрифта */
    src: url(../font/SegoeUI/SegoeUI.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: SegoeUIBold; /* Имя шрифта */
    src: url(../font/SegoeUI/SegoeUI-Bold.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: awesome; /* Имя шрифта */
    src: url(../font/awesome/fontawesome-webfont.eot); /* Путь к файлу со шрифтом */
}
body{
	font-family:SegoeUIBold
}

.logo{
	padding-bottom: 60px;
	padding-top: 60px;
  position:relative;
}

.text_logo{
  position: absolute;
	display: inline-block;
	width: 300px;
	margin-left: 25px;
	color: #00386c;
	font-size: 14pt;
	font-weight: 600;
  top: 50px;
  left:425px;
  padding-right: 10px;
}

.text_logo2{
  position: absolute;
  display: inline-block;
  width: 300px;
  margin-left: 25px;
  color: #00386c;
  font-size: 14pt;
  font-weight: 600;
  top: 70px;
  left:425px;
  font-size: 12pt;
}

.m{
  padding: 0 0 0 320px;
}

.flogo{
  position: absolute;
  top:30px;
  left:350px;
}

.menu_text{
	padding: 10px 25px;
	font-size: 12pt;
}

#oval {
	width: 145px;
	height: 60px;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	border-color: #171d37;
	border:solid 1px;
}
.row_shadow{
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

}
.slider_block{
	height: 410px;
	width: 1200px;
}
 
 .ft{
 	height: 325px;
 	background-color: #134872;
 	color:#fff;
 	padding-top: 75px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content:space-around;
}


.flex {
	display:flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: flex-start;
	align-content: space-around;
	}
.btn div{
	padding: 20px;
	width: 1200px;

}
.txt2{
/*	width: 1100px;*/
	justify-content:space-around;
	padding: 10px;
  font-family:SegoeUI ;
}
.txt{
  width: 1100px;
  justify-content:space-around;
  padding: 10px;
  font-family:SegoeUI ;
}
.txt h2{
  text-align: center;
}


.im{
	justify-content:center;

}

 .cards2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
   justify-content:center;
  }
  .card2 {
    flex: 0 0 300px;
    margin: 10px;
/*    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
   justify-content:center;
  }
  .card {
    flex: 0 0 360px;
    margin: 10px;
    border: 1px solid #ccc;
   /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }
 .card2 {
    flex: 0 0 300px;
    margin: 5px;
/*    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 

  

   .card {
    flex: 0 0 360px;
    margin: 10px;
    border: 1px solid #ccc;
    /*box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 

  .card3{
  	flex:0 0 200;
  	height: 113px;
  	margin: 5px;
  	border: 1px solid #ccc;
  }

/*  .skk{
   background-image: url(../img/btn/sk.jpg);
   width: 190px;
  }
  .skk.act{
  background-image: url(../img/btn/sk_1.png);
   width: 190px;
  }*/
    .skk{
   background-image: url(../img/btn/tacit.jpg);
   width: 190px;
  }
  .skk.act{
  background-image: url(../img/btn/tacit_1.png);
   width: 190px;
  }
    .skk:hover{
  background-image: url(../img/btn/tacit_1.png);
   width: 190px;
  }

  .tn1{
	   background-image: url(../img/btn/tn1.jpg);
   width: 190px;
  }
.tn1.act{
	   background-image: url(../img/btn/tn1_1.png);
   width: 190px;
}

.tn1:hover{
     background-image: url(../img/btn/tn1_1.png);
   width: 190px;
}
  .fn1{
	   background-image: url(../img/btn/fn1.jpg);
   width: 190px;
  }
.fn1.act{
	   background-image: url(../img/btn/fn1_1.png);
   width: 190px;
}
.fn1:hover{
     background-image: url(../img/btn/fn1_1.png);
   width: 190px;
}
  .grinas{
	   background-image: url(../img/btn/grinas.jpg);
   width: 190px;
  }
.grinas.act{
	   background-image: url(../img/btn/grinas1.png);
   width: 190px;
}
.grinas:hover{
     background-image: url(../img/btn/grinas1.png);
   width: 190px;
}
  .dvaoma{
	   background-image: url(../img/btn/dvaoma.jpg);
   width: 190px;
  }
.dvaoma.act{
	   background-image: url(../img/btn/dvaoma1.png);
   width: 190px;
}
.dvaoma:hover{
     background-image: url(../img/btn/dvaoma1.png);
   width: 190px;
}
  .realmart{
	   background-image: url(../img/btn/realmart.jpg);
   width: 190px;
  }
.realmart.act{
	   background-image: url(../img/btn/realmart1.png);
   width: 190px;
}
.realmart:hover{
     background-image: url(../img/btn/realmart1.png);
   width: 190px;
}

.txtd{
    position: absolute;
    color: #fff;
    left: 183px;
    font-size: 28pt;
}
.txtdd{
    position: absolute;
    color: #ccc;
    top: 280px;
    left: 183px;
    font-size: 10pt;
    font-family:SegoeUI;
}
.txtddg{
    position: absolute;
    color: #000;
/*    top: 280px;*/
    left: 245px;
    font-size: 30pt;
    font-family:SegoeUIBold;
   text-shadow: 2px 4px 3px rgba(255,255,255,0.9);
}

.txtddgg{
  width: 430px;
    position: absolute;
    color: #fff;
    top: 185px;
    left: 232px;
    font-size: 12pt;
    font-family:SegoeUI;
    background-color:#000;
    opacity: 0.7;
    padding: 10px;

}
.txtdv{
    position: absolute;
    color: #000;
    top: 23px;
    left: 130px;
    font-size: 30pt;
   /* font-family:SegoeUI;*/
}
.txtddv{
  width: 390px;
    position: absolute;
    color: #000;
    top: 185px;
    left: 130px;
    font-size: 12pt;
    font-family:SegoeUI;
    background-color:#fff;
    opacity: 0.7;
    padding: 10px;

}

.bt{
	position: absolute;
	left: 183px;
	bottom:30px;
}
.bt span{
	text-transform: uppercase;
	font-family:SegoeUI;
  font-size: 14pt;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px 40px;
}

.btg{
  position: absolute;
  left: 232px;
  bottom:30px;
}
.btg span{
  text-transform: uppercase;
  font-family:SegoeUI;
  font-size: 14pt;
  color: #000;
  border: 1px solid #000;
  padding: 10px 40px;
}

.btv{
  position: absolute;
  left: 130px;
  bottom:30px;
}
.btv span{
  text-transform: uppercase;
  font-family:SegoeUI;
  font-size: 14pt;
  color: #000;
  border: 1px solid #000;
  padding: 10px 40px;
}

.txtreal{
   width: 475px;
    position: absolute;
    color: #000;
    top: 185px;
    left: 130px;
    font-size: 12pt;
    font-family:SegoeUI;
    background-color:#fff;
    opacity: 0.7;
    padding: 10px;

}

.txtrealh{
    position: absolute;
    color: #000;
    top: 12px;
    left: 132px;
    font-size: 30pt;
   /* font-family:SegoeUI;*/
}
.txtreal span {
    text-transform: uppercase;
    font-weight: 700;
  }

  .txtskk{
    width: 365px;
    position: absolute;
    color: #fff;
    top: 110px;
    left: 183px;
    font-size: 10pt;
    font-family:SegoeUI;
}

 .cards3 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
   justify-content:center;
   width: 1200px;
   justify-content:space-around;
   margin: auto;
   padding: 15px;
  }

  .card4 {
    flex: 0 0 300px;
    margin: 5px;
    padding: 20px;
    border-right: 1px solid #fff;
 /*   border: 0 0 0 1px solid #fff;*/
   /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 
   .card5 {
    flex: 0 0 300px;
    margin: 5px;
    padding: 20px;
   /* border-left: 1px solid #fff;*/
 /*   border: 0 0 0 1px solid #fff;*/
   /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
  } 

  .zn{
  /*  color: #000;
    font-weight: 600;
    font-size: 12pt;*/
  }
  .ptextspan{
    padding-left: 12px;
    padding-right: 20px;
    font-size: 14pt;
  }
    .ptextspan2{
    padding: 30px;
  }

.tt{
/*  width: 1100px;*/
 /* justify-content:space-around;*/
  padding: 10px;
  font-family:SegoeUI ;
}

.text h3{
  text-align:center;
}